.active{
    background-color: #E01810;
    color:white !important;
}
#programas{
    background-color: #E01810;
    color: white;
}
.c-programas{
    color:#DC2C1C !important;
}
.footer{
    background-color: #E4E3E3;
    color:black!important;
}
.alert-hard{
    background-color: #F1F506;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .f-border-lg{
        border-left:1px solid black;
    }
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .f-border-lg{
        border-left:1px solid black;
    }
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 2400px) { 
    .f-border-lg{
        border-left:1px solid black;
    }
 }