.active{
    background-color: #E01810;
    color:white !important;
}
#programas{
    background-color: #E01810;
    color: white;
}
.c-programas{
    color:#DC2C1C !important;
}
.footer{
    background-color: #E4E3E3;
    color:black!important;
}
.alert-hard{
    background-color: #F1F506 !important;
}
.footer h4{
 color:#C21707;
}
@media (min-width: 992px) {
    .f-border-lg{
        border-right: 1px solid #DC2C1C;  
        border-bottom: 0px solid #DC2C1C !important;    
    } 
}
@media (min-width: 420px) {
    .f-border-sm{
        border-bottom: 1px solid #DC2C1C;    
    } 
}
