.active{
    background-color: #E01810;
    color:white !important;
}
#programas{
    background-color: #E01810;
    color: white;
}
.c-programas{
    color:#DC2C1C !important;
}
.footer{
    background-color: #E4E3E3;
    color:black!important;
}
.alert-hard{
    background-color: #F1F506;
}